<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Calculator</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    
</head>
<body>

<br/>
<h1>Ski Lessons Price Calculator</h1>
<p>Use this calculator to determine how much you will be charged for private ski lessons!</p>

<form id="calculator-form">
    <label for="hours">Number of Hours Wanted for Ski Lessons: </label>
    <input type="number" id="hours" name="hours" min="1" step="1" placeholder="Enter number of hours" required/>

    <br/><br/>
    <fieldset>
        <legend>Private Lessons</legend>
        <p>Rate: $100 per hour</p>
    </fieldset>
    
    <button type="button" id="calculateButton" onclick="CalculateTotal()">Calculate Total</button>
    <br/><br/>
   
</form>

<fieldset>
    <div style="font-size: 20px;" id="result"></div>
    <br/>
    <button type="button" onclick="window.location.href = '@Url.Action("Index", "Home")';">Back to Home</button>
</fieldset>


</body>
</html>