@{
    ViewData["Title"] = "Skiing";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn to Ski with me! </title>
</head>

<body>

<h1>Hit the Slopes: Your Ultimate Skiing Adventure Starts Here!</h1>
<br/>
<br/>
<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
    <img src="~/img/skiguy.jpg" height="400" style="margin-right: 20px;"/>
    <p style="text-align: justify;">Skiing in Utah is one of my favorite ways to embrace the winter months.
        With the state's legendary powder snow, known as the "Greatest Snow on Earth,"
        each run feels like a new adventure. I love exploring the variety of terrain,
        from the steep slopes of Little Cottonwood Canyon to the wide-open bowls at Park City.
        Utah's ski resorts offer something for every level, making it easy to challenge myself
        while also enjoying some relaxing time on the mountain.</p>
</div>

<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
<img src="~/img/SkiResort.jpg" height="400" style="margin-right: 20px;"/>
<p style="text-align: justify;">What makes skiing in Utah even more special is the breathtaking scenery.
    The Wasatch Mountains provide a stunning backdrop as I carve my way down the slopes,
    and the crisp mountain air adds to the refreshing experience. Skiing here isn't just about
    the sport—it's about being surrounded by nature and enjoying the sense of freedom that comes with it.
    Whether it's a solo session or a day spent with friends, skiing in Utah is always an unforgettable experience.</p>
</div>
</body>
</html>